.button {
    min-width: 200px;
    height: 60px;
    padding: 0 20px;
    background-color: var(--color-link);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 10px;
    border-radius: 5px;
    font-size: 20px;
    transition: all 300ms ease 0s;

    &:hover {
        background-color: var(--color-link-hover);
    }

    &.button-simple {
        height: 40px;
        min-width: 100px;
        background-color: transparent;
        color: var(--color-link);
        padding: 0;

        &:hover {
            background-color: transparent;
        }
    }
}